###====================================================================================###
###    Stuff to exclude from the remote repo
###====================================================================================###

# exclude the ignore file
#.gitignore
# =======================
# OS artifacts
# =======================
.DS_Store
Thumbs.db

# =======================
# Logs and temp files
# =======================
*.log
*.tmp
*.bak
*.bkp
*.swp
*~
[Tt]emp/
*[Ss]cratch*

# =======================
# Private/proprietary
# =======================
/Private/

# =======================
# Terraform state / build dirs
# =======================
*.tfstate
*.tfstate.backup
.terraform/

# =======================
# Large files
# =======================
*.iso
*.vhdx
*.vhd
*.zip